// bower:scss
// endbower
html { 
  height: 100%;
}
body {
  background-color: #ed7c0f ;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}
.container {
  position: relative;
  margin: 0px auto;
  padding-right: 7px;
  max-width: 800px;
  top: 50%;
  transform: translateY(-50%);
}
.wrap {
  position: relative;
  padding-bottom: 56.75%;
  padding-top: 0;
  height: 0;
}
.wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}



